.hero {
  height: 100vh;
  background: url(../img/home_2.jpg) no-repeat center center/cover;
}

.navbar {
  justify-content: center;
}

.navbar a {
  font-size: 20px;
} 

.hero .content h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.hero .content h2 {
  font-size: 30px;
}

#section-header {
  margin: 0;
  font-size: 30px;
  padding: 10px;
}

.project-img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

#contact-section h2 {
  font-size: 40px;
}