.hero {
  height: 100vh;
  background: url(../img/home_2.jpg) no-repeat center center/cover;
  position: relative;
  color: #fff;
}

.navbar {
  background: #333;
  opacity: .8;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar a {
  padding: 20px 20px;
  color: #fff;
  font-size: 20px;
} 

.hero .content h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.hero .content h2 {
  font-size: 30px;
}